Package: love.litten.violet
Name: Violet 🎀
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13.0)
Version: 1.0
Architecture: iphoneos-arm
Description: løve
Maintainer: alexa <hiya@litten.love>
Author: alexa <hiya@litten.love>
Section: Tweaks
Depiction: https://repo.litten.love/depictions/vio/index.html
SileoDepiction: https://repo.litten.love/depictions/vio/vio.json
Icon: https://repo.litten.love/depictions/vio/assets/icon.png
