<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Background</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>lockscreenArtworkBackground</string>
			<key>label</key>
			<string>Artwork As Background</string>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>label</key>
			<string>Blur:</string>
			<key>key</key>
			<string>lockscreenArtworkBlur</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light</string>
				<string>Dark</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Artwork Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>lockscreenArtworkOpacity</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Player Background</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>lockscreenPlayerArtworkBackground</string>
			<key>label</key>
			<string>Artwork As Background</string>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>label</key>
			<string>Blur:</string>
			<key>key</key>
			<string>lockscreenPlayerArtworkBlur</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Light</string>
				<string>Dark</string>
			</array>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Artwork Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>lockscreenPlayerArtworkOpacity</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Artwork Corner Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>10.0</real>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>lockscreenPlayerArtworkCornerRadius</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>30.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>lockscreenArtworkDim</string>
			<key>label</key>
			<string>Dim Artwork</string>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hiding - Player</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>hideLockscreenPlayerBackground</string>
			<key>label</key>
			<string>Hide Background</string>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Compatibility</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>roundLockScreenCompatibility</string>
			<key>label</key>
			<string>RoundLockScreen Compatbility</string>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.violetpreferences</string>
			<key>key</key>
			<string>hideXenHTMLWidgets</string>
			<key>label</key>
			<string>Hide Xen HTML While Playing</string>
			<key>PostNotification</key>
			<string>love.litten.violetpreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Violet</string>
</dict>
</plist>
